<%- include('../header') %>
<%- include("../side-nav"); %>
<%- include("../top-nav"); %>
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add API</h3>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">


      <div class="col-md-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left" action="/apis/update" method="POST">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Node</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" name="node">
                    <option value="default">Select Node</option>
                    <% nodes.forEach(function(node) { %>
                      <option value="<%= node._id %>"><%= node.name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">APIs</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" name="api">
                    <option value="default">Select API</option>
                    <% apis.forEach(function(api) { %>
                      <option value="default">----<%= api.name %>----</option>
                      <% api.apis.forEach(function(a) { %>
                        <option value="<%= a.id %>"><%= a.name %></option>
                      <% }) %>
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Upstream URL</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="upstream_url" placeholder="https://mockbin.com">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name (<i>optional</i>)</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="name" placeholder="API name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Request host(<i>optional</i>)</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="request_host" placeholder="mockbin.com">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Request Path(<i>optional</i>)</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="request_path" placeholder="/someservice">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Preserve Host(<i>optional</i>)</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="preserve_host" placeholder="false">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Strip Request Path(<i>optional</i>)</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" name="strip_request_path" placeholder="false">
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- /page content -->

<!-- footer content -->
<%- include("../footer"); %>



